*{
    padding: 0;
    margin: 0;
}

.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home img{
    height: 450px;
}

.home h1{
    margin-bottom: 30px;
}